doctype html
html
  head
    meta(charset='utf-8')
    title Paraphin
    link(href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Cherry+Cream+Soda' rel='stylesheet' type='text/css')
    style
      include assets/github.css
      include assets/main.css
  body
    div.content
      include:md ./index.md