html, body {
  margin: 0;
  padding: 0;
  background: lightgray;
}

div.content {
  padding: 0 30px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  
  max-width: 1000px;
  min-height: 100vh;

  background: white;
}

h2, h3, h4, h5, h6, p, li, a {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'Cherry Cream Soda', cursive;
  font-weight: 700;
  font-size: 3em;
  color: teal;
}

li {
  padding: 0;
  margin: 0;
}