body {
  max-width: 1000px;
  margin: auto;
}

h2, h3, h4, h5, h6, p, li, a {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Cherry Cream Soda', cursive;
  font-weight: 700;
  font-size: 3em;
  color: teal;
}

li {
  padding: 0;
  margin: 0;
}